__pycache__
*.o
*.egg-info
*.pt
*.tar.gz
*.npy
*.npz
*.mp4
*.png
*.jpg
*.h5
*.ipynb
*.pth
*.zip
*.log
*.json
*.svo
zip*
ap-10k
build
.vscode
.DS_Store
PF-dataset-PASCAL
SPair-71k
third_party/ODISE/odise/model_zoo/configs
wandb